* {
  box-sizing: border-box;
  font-family: 'Rambla', sans-serif;
}


body {
  display: none;
  color: white;
  max-width: 1100px;
  margin: 0 auto;
  flex-basis: 100%;
  background-image: url("../images/spacebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

select {
  background-color: #c5a143;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

button {
  border-radius: 20px;
  border: 0;
  padding: 0;
  background-color: #0099f6;
  height: 25px;
}

ul {
  list-style-type: none;
}

img {
  border-radius: 20px;
}

.status-bar {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 20px;
}

.mystery-character {
  flex: 1;
}

.mystery-character img {
  display: block;
  max-width: 250px;
  max-height: 200px;
  margin: auto;
}

.sitename {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;

}

@keyframes adjustText {
  display:
  from {
    font-size: 20px;
  }
  to {
    font-size: 30px;
  }
}

.QImage {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.QImage img {
  display: block;
  max-width: 175px;
  max-height: 175px;
  margin: auto;
}


.characterList {
  display: flex;
  margin: 0 auto;
  max-width: 130px;
}

.qWho{
  background-color: #c5a143;
  font-size: 16px;
  border-radius: 20px;
  width: 150px;
}

.instructions p {
  justify-content: center
  margin: 0 20px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse:collapse;
}

td {
  width: 33.33%;
  text-align: center;
}

.yellow {
  background-color: #c5a143;
}

.red {
  background-color:  #a50221;
}

.buttonHover:hover {
  background-color:  #a50221;
  color: #c5a143;
  font-weight: bold;
}
div .gameStartButtons{
  margin: 0 auto;
}

.playGame{
  margin: 10px;
  background-color: #c5a143;
  font-size: 16px;
  border-radius: 20px;
  height: 30px;
  font-weight: bold;
  width: 150px;
}

.gameActive {
  display: none;
  width:100%;
}

.guessArea {
  align-items: center;
  text-align: center;
  flex: 1;
}

.guessSubmit{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color:  #a50221;
  height: 200px;
  width: 175px;
  margin: 0 auto;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}

.attribute {
  display: flex;
  margin-bottom: 10px;
}

.QSubmit{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color:  #a50221;
  height: 50px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  font-weight: bold;
  font-size: 16px;
}

.countdown-bar {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  flex:1;
  font: 24px bold;
  text-align: center;
}

.countdown-bar p {
  margin: 5px auto;
}

.countdown-bar img {
  max-width: 175px;
}

.main-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.character-lineup {
  flex: 1;
  max-width: 550px;
  margin: 0 auto;
}

.character-lineup ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.character-lineup img {
  max-height: 175px;
  max-width: 110px;
}

.question-display-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #0099f6;
  flex: 1;
  border-radius: 20px;
  min-width: 500px;
}

.question-display-area p{
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 18px;
}

.question-submit{
  align-items: center;
  justify-content: center;
  background-color: #c5a143;
  width: 100px;
  height: 25px;
  margin: auto auto;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
}

.restart {
  width: 250px;
  background-color: #c5a143;
  height: 62px;
  margin: 100px auto;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
}

.answer {
  color: #a50221;
  font-weight: bold;
}

.footer-wrapper {
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 979px) {


  .status-bar {
    max-width: 550px;
    margin: 25px auto 0;
  }

  .mystery-character img {
    max-height: 125px;
  }

  .QImage img {
    max-height: 125px;
  }
  .countdown-bar {
    font: 18px bold;
  }

  .character-lineup ul {
    padding: 0;
  }
  .character-lineup img {
    max-height: 125px;
    max-width: 110px;
  }
  .main-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 550px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .status-bar {
    max-width: 350px;
    margin: 0 auto;
    max-height: 100px;
  }

  .mystery-character img {
    max-height: 100px;
  }

  .QImage img {
    max-height: 100px;
  }
  .countdown-bar {
    font: 18px bold;
  }
  .countdown-bar img {
    max-width: 100px;
}

  .character-lineup ul {
    padding: 0;
  }
  .character-lineup img {
    max-height: 125px;
    max-width: 110px;
  }
  .main-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 350px;
    margin: 0 auto;
  }
  .question-display-area {
    min-width: 350px;
  }
  @keyframes adjustText {
    display:
    from {
      font-size: 20px;
    }
    to {
      font-size: 25px;
    }
  }

  .footer-wrapper {
    max-width: 350px;
  }
}
