body {
  background-color: black;
  color: white;
  width: 1000px;
  margin: 0 auto;
  flex-basis: 100%;
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.status-bar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

select {
  background-color: #c5a143;
  font-size: 16px;
}

.characterList {
  display: flex;
  margin: 0 auto;
  max-width: 130px;
}

.qWho{
  background-color: #c5a143;
  font-size: 16px;
  border-radius: 20px;
}

h2 {
  text-align: center;
}

instructions p {
  margin: 0 20px;
}


.playGame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #c5a143;
  font-size: 16px;
  border-radius: 20px;
  height: 30px;
  font-weight: bold;
}



.gameActive {
  display: none;
}

ul {
  list-style-type: none;
}

img {
    border-radius: 20px;
}

.mystery-character {
  flex: 1;
}

.mystery-character img {
  display: block;
  max-width: 250px;
  max-height: 200px;
  margin: auto;
}
.guessArea {
  align-items: center;
  text-align: center;
  flex: 1;
}

.QImage {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.QImage img {
  display: block;
  max-width: 250px;
  max-height: 200px;
  margin: auto;
}

.guessSubmit{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color:  #a50221;
  height: 200px;
  width: 175px;
  margin: 0 auto;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}

.countdown-bar {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  flex:2;
  font: 24px bold;
  text-align: center;
  height: 200px;
}

.countdown-bar img {
  max-width: 175px;
}

.main-screen {
  display: flex;
}

.character-lineup img {
  max-height: 175px;
  max-width: 110px;
}

.character-lineup {
    flex: 1;
}

.character-lineup ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 20px;
}

.question-display-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0099f6;
  flex: 1;
  border-radius: 20px;
}

.question-display-area p{
margin: 25px 25px;
font-size: 16px;
}

.question-submit{
  background-color:  #c5a143;
  width: 450px;
  height: 62px;
  margin: 0 auto;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}

.restart {
  width: 250px;
  background-color: #c5a143;
  height: 62px;
  margin: 100px auto;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
}

.answer {
  color: #a50221;
  font-weight: bold;
}

.footer-wrapper {
  display: block;
  text-align: center;
}
